.accountcontainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: auto;
  background-image: url("../assets/coffeebackground.jpeg");
  background-position: center;
  background-size: cover;

  margin-top: 100px;
}
.secondcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 30px;
}
.headercoffee {
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.welcome {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.description {
  width: 40vw;
  font-size: 16px;
  height: 15vh;
  border-radius: 10px;
  border: none;
}
#label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  background-color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  /* line-height: 70px;
    margin-left: 325px; */
}

.input {
  height: 5vh;
  margin-top: 10px;
  background-color: white;
}
.button {
  margin-bottom: 20px;
}
