.accountcontainer {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: auto;
    background-image: url("../assets/coffeebackground.jpeg");
    background-position: center;
    background-size: cover;

    margin-top: 100px;
}
.secondcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 60rem;
    margin-top: 30px;
}
.headeraccount {
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.description {
    width: 40vw;
    font-size: 16px;
    height: 15vh;
    border-radius: 10px;
    border: none;
}
#label {
    font-size: 30px;
    background-color: lightgrey;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    margin-left: 5px;
}

.input {
    height: 5vh;
    margin-top: 10px;
    background-color: white;
}
.Submit_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .Submit_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 610px) {
    .accountcontainer {
    }
}
