@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');



.hero{
    font-family: "Special Elite", system-ui;
    font-weight: 400;


    
    height: 70vh;
    width: 100%;
    background-image: url('public\\realistic-coffee-background_79603-1650.png');
    background-size: cover;
    background-position: center;
    filter: grayscale(200%);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    

}
.hero h4{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.3);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.hero * {
    position: relative;
    z-index: 2;
}

.hero-btns button{
    width: 120px;
    height: 40px;


    background-color: #ddd;
    
    margin: 0 10px;

    border: 1px solid grey;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}