.navbar{

    overflow: hidden;
    background-color: #ddd;

}
li{
  font-weight: 700;
  color: #333;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


.navbar li {
    padding: 3px 15px;

}

a { 

  color: inherit; 
  text-decoration: none;
} 
.navbar ul li:last-child {
  margin-left: auto;
  margin-right: 0;
}

.navbar li:hover {
    background-color: grey;
    color: black;
}

.nav-right {
    margin-left: auto;
}

@media screen and (max-width: 768px) {
  li {
    font-size: 2vw;
  }
}